body{
    background-color: rgb(255, 255, 255);
   
}

.nav-item {
    margin: 3px;
}
.menu {
   position: fixed;
   top:0px;
  width: 100vw; /* opcional */
  z-index: 999; /* garante que fique sobre outros */
}

section{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: white;
}

#banner{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    height: 550px;
     
}

.coluna_esq{
    background-color: pink;
    width: 50%;
    height: 100%;
    margin-top: 15px;
}

.coluna_esq img{
  
    width: 100%;
    height: 100%;
   
}

.coluna_dir{
    margin-top: 15px;
    background-color: blue;
    width: 50%;
    height: 100%;
}

.coluna_dir img{
  
    width: 100%;
    height: 100%;
   
}

#funcionamento{

background-color: rgb(255, 255, 255);
padding-bottom: 80px;
}

#funcionamento .card{
    border:2px solid black;
}


.titulos{
    margin-top: 15px;
    text-align: center;
    background-color:rgb(169, 220, 243);
    font-size: 18pt;
}
.nav-link:hover{
    color: black;
    font-size: 17px;
}

#funcionamento {
    display: flex;
    flex-direction: column;
    align-items: center; /* opcional: centraliza horizontalmente as cards */
    gap: 20px; /* espaçamento entre os cards */
  }

  .card img {
    margin: 10%;
    width: 80%;
  }

  .animais{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
  }

  .animais .card{
    margin-right: 10px;
    margin-top: 10px;
  }

  .animais .card img{
    width: 190px;
    height:190px;
  }

   .animais .card .card-body{
    padding-top: 2px;
    
  }

  footer{
    
    background-color: #4569ad;
    padding: 30px;
  }

  .col{
    display:inline;
    flex:100%;
    width: 100%;
  }

  .col b{
    margin-bottom: 20px;
  }

.empresa{
    background-color: lightgrey;
}

/* Pagina sobre */
.sobre{
    width: 90%;
    margin: 5%;
}

#sobre{
    margin-top: 30px;
}

.amarante-regular {
    font-family: "Amarante", serif;
    font-weight: 400;
    font-style: normal;
  }

  .sobre h2 {
    font-family: "Amarante", serif;
    font-weight: 400;
    font-style: normal;
  }

/*Pagina cadastro -- formulario*/
.formulario{
  display: flex;
  justify-content: center;
  background-color: #3a5b97;
  color: orange;
  height: 100%;
}

.formulario div{
  width: 100%;
}

.formulario div input:hover,textarea:hover{
  border: black 2px solid;
}


/* ////////// pagina do quiz //////////*/
.quiz {
 background-color: #b1c9f7;
 background-size: cover auto;
 width: 100%;
 height: 100vh;
 text-align: center;
}

.question{
  margin-top: 50%;}

  .form-check {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .form-check-input {
    margin-right: 8px;
  }

/* pagina cadastro pet /////////////*/

#pet_cadastro input, .form-select, #descricaoPet {
  border: 2px solid #4569ad;
}

/* pagina home ---- ong /////////////////*/
#menuhomeong img{
width: 26px;
}

@media (min-width:600px){
.animais{
    display: flex;
    flex-direction: row;
    margin: 15px;
  }

/* ////////// pagina do quiz //////////*/
.quiz {
 
 background-size:cover;
 width: 100%;
 text-align: center;
}

.question{
  margin-top: 40%;
  font-size: 26px;
}

.form-check {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.form-check-input {
  margin-right: 8px;
}

}

@media (min-width: 992px) {
    

#funcionamento {
display: flex;
flex-direction:row;
}

#funcionamento .funcionamentoo {
    margin-left: 15px;
    
}
.funcionamentoo .card{
    border-radius: 8%;
    margin-top: 60px;
}

.funcionamentoo .card-body {
    height: 220px ;
    
}

.funcionamentoo .card-body b{
    font-size: 16pt;
    margin-top: 5px;
    text-align: center;
}

.funcionamentoo .card-body p{
    margin: 5px;
}

 .col{
    flex-direction: row;
    flex: 2;
  }
  
  
/* ////////// pagina do quiz //////////*/
.quiz {
 background-color: aquamarine;
 background: url(img/background_quizz.png) no-repeat center;
 background-size: 100% auto;
 width: 100%;
 height: 100vh;
 text-align: center;
}

.question{
  margin-top: 18%;
}

}